<p>
  <strong>request_id:</strong>
  <%= @request.id %>
</p>

<p>
  <strong>type:</strong>
  <%= @request.type %>
</p>

<p>
  <strong>time:</strong>
  <%= @request.time %>
</p>

<p>
  <strong>comment:</strong>
  <%= @request.comment %>
</p>